$main-font: 'Open Sans Condensed', sans-serif;
$title-font: 'Amatic SC', cursive;
$logo-font: 'Mr Bedfort', cursive;

$black: #000;
$white: #fff;
$main: #07062c;
$main-hover: #00baba;
$grey: #d1d1d1;