.form-btn-right {
  display: flex;
  flex-direction: column;
}
.form {
  width: 100%;
  outline: none;
  &__item {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    > span {
      display: block;
      font-size: 12px;
      line-height: 1;
      letter-spacing: 1px;
      margin-bottom: 8px;
    }
  }
  &__btn {
    padding: 0;
    margin: 0;
    outline: none;
    border-radius: 50%;
    background-color: $main;
    color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    font-family: $title-font;
    font-weight: 700;
    outline: none;
    transition: background-color .3s;
    align-self: flex-end;
    @include hover() {
      background-color: $main-hover;
      transition: background-color .3s;
    }
  }
  &__file {
    input[type="file"] {
      opacity: 0;
      position: absolute;
    }
    > span {
      font-size: 18px;
      line-height: 1;
      letter-spacing: 1px;
      position: relative;
      padding-left: 20px;
      cursor: pointer;
      transition: color .3s;
      &::before {
        @extend %pseudo;
        content: '\2750';
        color: inherit;
        left: 0;
        top: 4px;
      }
      @include hover() {
        color: $main-hover;
      }
    }
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    border: 1px solid $grey;
    padding: 12px 18px;
    color: $main;
    font-family: $main-font;
    font-size: 14px;
    line-height: 1;
    width: 100%;
    letter-spacing: 1px;
    outline: none;
    &:focus {
      border-color: $main;
    }
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &:-moz-placeholder {
      font-family: $main-font;
      font-size: 14px;
      line-height: 1;
      color: $grey;
    }
  }
  textarea {
    min-height: 150px;
    resize: vertical;
  }
}