.header {
  position: relative;
  padding: 10px 0;
  &--main {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: flex-end;
  }
  .mainpage & {
    display: none;
  }
  &__wrap {
    align-items: center;
    justify-content: space-between;
    &--main {
      justify-content: center;
      width: 50%;
    }
  }
  &__logo {
    position: relative;
    display: block;
    font-family: $logo-font;
    color: $main;
    font-size: 62px;
    line-height: 1.5;
    text-decoration: none;
  }
  a.header__logo {
    transition: color .3s;
    @include hover() {
      color: $main-hover;
      transition: color .3s;
    }
  }
  &__list {
    @extend %clear-list;
    li {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__link {
    display: block;
    line-height: 0;
    padding: 0 5px;
    svg {
      fill: $main;
      width: 30px;
      height: 30px;
    }
    @include hover() {
      svg {
        fill: $main-hover;
      }
    }
  }
}